* {
    margin: 0;
    padding: 0;
    border: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&display=swap');

:root {
    --fundo: #f5f5f5;
    --azul: #203440;
    --verdinho: #47B366;
    --rose: #FF9999;
    --complemento: #FFFEB3;
    --neutro: #A89797;
}

body {
    background-color: var(--fundo);
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

header {
    width: 100%;
    background-color: var(--rose);
}

#COMECO {
    font-family: 'Hind', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 2rem;
    padding: 2rem;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    box-shadow: 0 -1px 3px black;
    z-index: 1;
}

.titulo h1 {
    font-size: 2.5rem;
}

.titulo h1, .titulo img {
    display: inline;
    padding: 4px;
}

header nav {
    width: auto;
    position: absolute;
    right: 32px;
}

.item-menu {
    display: inline-block;
}

.item-menu a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    color: rgba(80, 80, 80, 50);
    padding: 8px;
    transition: 1s ease;
}

.item-menu a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

main {
    width: 100%;
}

.box-special {
    background-color: var(--azul);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#special {
    display: grid;
    grid-template-columns: repeat(12, 7vw);
    grid-template-areas: "foto foto foto foto foto foto foto foto foto artigos artigos artigos artigos";
    background-color: var(--azul);
    max-width: 1280px;
    justify-content: space-around;
    justify-items: center;
    color: white;
}

#special h2 {
    font-family: 'Playfair Display', serif;
}

.photo {
    grid-area: foto;
    padding: 19.2px;
    border-right: 1px solid black;
    position: relative;
}

.photo img {
    height: auto;
    max-width: fit-content;
    padding: 0 0 16px 0;
}

.photo p {
    padding: 0 0 16px 0;
}

.articles {
    padding: 38px 38px;
    grid-area: artigos;
}

.rel-article {
    background-color: var(--verdinho);
    border-radius: 8px;
    border: 0px solid var(--verdinho);
    padding: 16px;
    margin: 12px 0;
    list-style: none;
    text-align: center;
    transition: 0.2s ease;
    box-shadow: 0 0 1px #000000;
}

.rel-article:hover {
    cursor: pointer;
    background-color: #2c8d47;
    box-shadow: inset 0 0 2px black;
} 

.rel-article a {
    text-decoration: none;
    color: black;
}

#links {
    text-align: center;
    padding: 0 10%;
    background-color: var(--neutro);
}

#links ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
}

#links li {
    padding: 16px 32px;
    transition: 0.2s ease;
}

#links li:hover {
    background-color: #8F8181;
}

#conteudo {
    display: block;
    margin: 34px 10%;
    background-color: var(--fundo);
}

.item-blog {
    padding: 0 24px;
}

.item-blog a {
    font-size: 3rem;
    color: black;
    text-decoration: none;
}

#conteudo h1 {
    text-align: center;
    margin: 8px 0 0 0;
}

/*A tag lorem é temporária, pois vale apenas para o index.html (index.css)*/
.lorem {
    padding: 16px 0;
}
/*Fim da seção do index.css*/

footer {
    width: 100%;
    background-color: #6293B3;
}

.rodape {
    padding: 24px 0 32px 0;
}

.social-media {
    display: flex;
    justify-content: space-around;
    max-width: 950px;
    text-align: center;
    list-style: none;
    margin: auto;
    padding: 0 0 12px 0;
}

.item-socialmedia a {
    font-family: 'Nunito Sans', sans-serif;
    color: black;
    text-decoration: none;
}

.item-socialmedia a:hover {
    font-weight: bold;
    position: static;
}

.item-socialmedia img {
    width: 56px;
    padding: 8px 0 0 0;
}

.linha {
    background-color: var(--complemento);
    height: 8px;
    box-shadow: 0 1px 4px black;
}

.copyright {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    padding: 0 0 8px 0;
    text-align: center;
}