* {
    margin: 0;
    padding: 0;
    border: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');

:root {
    --fundo: #f5f5f5;
    --azul: #203440;
    --verdinho: #47B366;
    --rose: #FF9999;
    --complemento: #FFFEB3;
}

body {
    background-color: var(--fundo);
}

header {
    font-family: 'Hind', sans-serif;
    background-color: var(--rose);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 2rem;
    padding: 2rem;
    position: sticky;
    position: -webkit-sticky;
}

.titulo h1 {
    font-size: 2.5rem;
}

.titulo h1, .titulo img {
    display: inline;
    padding: 4px;
}

.menu {
    width: 350px;
    position: absolute;
}

.item-menu {
    display: inline-block;
}

.item-menu a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    color: rgba(80, 80, 80, 50);
    padding: 0.5rem;
    transition: color 1s ease-in-out;
}

.item-menu a:hover {
    color: rgb(0, 0, 0);
}

#special {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-areas: "foto foto foto foto foto foto foto foto . artigos artigos artigos artigos artigos";
    background-color: var(--azul);
    color: white;
    max-width: 100vw;
    padding: 0 48px 0 48px;
}

.photo {
    grid-area: foto;
    padding: 1.2rem;
    border-right: 1px solid black;
}

.articles {
    padding: 3rem;
    grid-area: artigos;
    border-left: 1px solid black;
}

.rel-article {
    background-color: var(--verdinho);
    border-radius: 8px;
    padding: 1rem;
    margin: 0.5rem 0 0.5rem 0;
    list-style: none;
    text-align: center;
}

.rel-article:hover {
    cursor: pointer;
} 

.rel-article a {
    text-decoration: none;
    color: black;
}

footer {
    background-color: #6293B3;
}